<html>
<head>
  <title>Edit</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>
 <h1>Edit your info!</h1>
  {% for user in users: %}
    <hr>
  <form action="/update/{{ user['id'] }}" method='POST'>
    <label for="first_name">Name:<input type="text" name="name" id="name" value="{{ user['name'] }}"></label>
    <label for="last_name">Username:<input type="text" name="username" id="username" value="{{ user['username'] }}"></label>
    <label for="occupation">Email:<input type="text" name="email" id="email" value="{{ user['email'] }}"></label>
    <input type="submit" value="Update">
  </form>
  {% endfor %}
</body>
</html>