<html>
<head>
  <title>The Wall</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
  <div class='container'>
    <div class="row">
      <h1>Welcome {{session ['user']}}!</h1>
      <form action='/logout'>
        <input type="submit" value="Logout">
      </form>
      <h3>Post a message, {{session ['id']}}!</h3>
      <form role="form" action="/post/{{ session['id'] }}" method='POST'>
        <input class="form-control" name="message"></input>
        <button type="submit" class='btn btn-default'>Submit</button>
      </form>
      {% for post in posts %}
      {% for comment in comments %}
      <h4>{{post['name']}} says:</h4>
      <h5>{{post['content']}}</h5>
      {% if post['post_id'] == comment['post_id'] %}
      {{comment['name']}} says {{comment['content']}}
      {% endif %}
      <form role="form" action="/comment/{{ post['id'] }}/{{ session['id'] }}" method='POST'>
        Leave a Comment!
        <input class="form-control" type="text" name="comment">
        <button type="submit" class='btn btn-default'>Submit</button>
      </form>
      {% endfor %}{% endfor %}
    </div>
  </div>
</body>
</html>