<html>
<head>
  <title>The Wall</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>
  h3, h4, h6, h5 {
  display: inline;
}
</style>

</head>
<body>
  <div class='container'>
    <div class="row">
      <h1>Welcome, {{session['username']}}!</h1>
      <a href="/account">Account</a><br>
      <a href="/logout">Logout</a>
      <h2>Post a message, {{ session['username']}}!</h2>
      <form role="form" action="/post/{{ session['id'] }}" method='POST'>
        <input class="form-control" placeholder='Post a message here!' name="message"></input>
        <button type="submit" class='btn btn-default'>Submit</button>
      </form>
      <hr>
      {% for post in posts %}
      <h3>{{post['name']}}: <u>{{post['content']}}</u></h3> <h6>{{ post['created_at'] }}</h6>
      {% if post['username'] == session['username'] %}
      <a href="/deletepost/{{ post['post_id'] }}">delete</a>
      {% endif %}<br><br>
      {% for comment in comments %}
      {% if post['post_id'] == comment['post_id'] %}
      <h4><b>{{ comment['name'] }}</b></h4>: <h5>{{ comment['content'] }}</h5> <h6>{{ comment['created_at'] }}</h6>
      {% if comment['username'] == session['username'] %}
      <a href="/deletecomment/{{ comment['id'] }}">delete</a>
      {% endif %}
      <br>
      {% endif %}
      {% endfor %}
      <br>
      Comment on <b>{{ post['name']}}'s</b> post:
      <form role="form" action="/comment/{{ post['post_id'] }}" method='POST'>
        <input type="text" class="form-control" placeholder='Comment here!' name="comment">
        <button type="submit" class='btn btn-default'>Submit</button>
      </form>
      <hr>
      {% endfor %}
    </div>
  </div>
</body>
</html>